
.nav {
  padding: 0px 0px;
  font-family: 'Roboto';
  background-color: #091423;
}

.logo {
  height: 3.9em;
  margin-top: -18px
}

.navButton {
  padding: 0;
  height: 100%;
  width: 100%;
}

.navItem {
  a {
    color: #9d9d9d
  }
}

.link {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  color: grey;
  a {
    text-decoration: none;
  }
  &:hover {
    background-color: #132f46;
    a {
      color: #fff;
    }
  }
}

.linkActive {
  background-color: #132f46;
}
